In [37]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 50)

Link to open dataset which does not have lat-longs.

In [8]:
# test = pd.read_csv('https://data.austintexas.gov/api/views/7d8e-dm7r/rows.csv?accessType=DOWNLOAD')

In [4]:
# Ensuring that the pandas parser interprets dates as dates
dockless = pd.read_csv('https://s3.amazonaws.com/sameera-bucket-1/dockless_mobility/raw_data/Austin_Dockless_Vehicle_Trips.csv'\
                       ,infer_datetime_format=True,parse_dates=['Start Time','End Time'],encoding='ascii')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# Fixing the names of the columns
dockless.columns = dockless.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [12]:
dockless.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2746505 entries, 0 to 2746504
Data columns (total 20 columns):
id                        object
device_id                 object
vehicle_type              object
trip_duration             float64
trip_distance             float64
start_time                datetime64[ns]
end_time                  datetime64[ns]
modified_date             object
month                     float64
hour                      float64
day_of_week               float64
council_district_start    float64
council_district_end      float64
origin_cell_id            object
destination_cell_id       object
year                      float64
start_latitude            float64
start_longitude           float64
end_latitude              float64
end_longitude             float64
dtypes: datetime64[ns](2), float64(12), object(6)
memory usage: 419.1+ MB

In [20]:
dockless.origin_cell_id.value_counts()[:15]

014706           60248
014707           58180
014864           56408
014705           52553
015186           46612
015019           42919
014865           42406
014863           42273
014391           41524
015029           38675
014715           38111
OUT_OF_BOUNDS    37798
014873           37255
015021           34557
014549           32671
Name: origin_cell_id, dtype: int64

#### Origin cell id has 'Out_of_bounds' values in many cases so; looking into that

In [15]:
dockless[dockless.origin_cell_id=='OUT_OF_BOUNDS'][:10]

,id,device_id,vehicle_type,trip_duration,trip_distance,start_time,end_time,modified_date,month,hour,day_of_week,council_district_start,council_district_end,origin_cell_id,destination_cell_id,year,start_latitude,start_longitude,end_latitude,end_longitude
118,00034de2-79b4-44e6-b0a4-cf4a6515e51c,722ceae4-82f1-4f4f-93dd-d1de1030de3e,scooter,425.0,1299.0,2018-10-29 13:45:00,2018-10-29 14:00:00,12/12/2018 09:31:05 PM,10.0,13.0,1.0,0.0,0.0,OUT_OF_BOUNDS,OUT_OF_BOUNDS,2018.0,0.0,0.0,0.000,0.000
128,00039939-bea8-4a05-bccc-6da0b6d851d3,db16a992-42a0-45a2-857a-b7d0eebc755b,scooter,57.0,1.0,2018-10-29 11:45:00,2018-10-29 11:45:00,12/13/2018 03:49:28 PM,10.0,11.0,1.0,0.0,0.0,OUT_OF_BOUNDS,OUT_OF_BOUNDS,2018.0,0.0,0.0,0.000,0.000
267,00080fda-ef07-4c72-81bb-b331ac087a31,ad1e67ea-ae3b-4f55-b158-32d61c9198cd,scooter,63.0,0.0,2018-10-17 17:45:00,2018-10-17 17:45:00,12/13/2018 03:38:06 PM,10.0,17.0,3.0,0.0,9.0,OUT_OF_BOUNDS,014872,2018.0,NaN,NaN,30.286,-97.741
453,000e6942-3a96-4384-93af-97ec721c4cc0,8ea6275e-7122-48f2-89c8-b6d93f553204,scooter,408.0,1400.0,2018-11-30 14:00:00,2018-11-30 14:00:00,12/13/2018 03:54:39 PM,11.0,14.0,5.0,0.0,9.0,OUT_OF_BOUNDS,015357,2018.0,NaN,NaN,30.315,-97.734
588,00126ad5-74ad-4073-98f3-95bc158de3a4,b6e3766e-2166-4ce6-808e-182846f4523f,scooter,582.0,1000.0,2018-10-10 12:45:00,2018-10-10 13:00:00,12/13/2018 03:39:37 PM,10.0,12.0,3.0,0.0,10.0,OUT_OF_BOUNDS,014882,2018.0,NaN,NaN,30.309,-97.742
616,001313bb-d8a3-4ba7-ba7b-5c79cd2a00d1,add78e92-55ff-421c-a0f0-b2fe66e41f6b,scooter,556.0,580.0,2018-09-30 14:30:00,2018-09-30 14:45:00,12/13/2018 03:52:53 PM,9.0,14.0,0.0,0.0,0.0,OUT_OF_BOUNDS,OUT_OF_BOUNDS,2018.0,NaN,NaN,NaN,NaN
630,001377ba-2c67-4384-8f0b-edfaaeb8e65a,1d816fcf-d573-48cd-ae68-e6cf364e2432,scooter,5287.0,10000.0,2018-10-14 14:45:00,2018-10-14 16:00:00,12/12/2018 09:11:41 PM,10.0,14.0,0.0,0.0,5.0,OUT_OF_BOUNDS,013442,2018.0,NaN,NaN,30.255,-97.762
677,0015a86e-446c-4be0-9529-ff9a683cc859,e0ae258e-92d0-433e-bba6-4d8dfef63abf,scooter,923.0,800.0,2018-12-03 08:00:00,2018-12-03 08:15:00,12/13/2018 03:49:05 PM,12.0,8.0,1.0,0.0,9.0,OUT_OF_BOUNDS,015029,2018.0,NaN,NaN,30.283,-97.738
894,001c5303-4826-4696-bbb4-7399973abf75,94571d86-0acf-4c42-9796-f0e509e15a80,scooter,240.0,200.0,2018-11-07 19:00:00,2018-11-07 19:00:00,12/12/2018 09:31:05 PM,11.0,19.0,3.0,0.0,3.0,OUT_OF_BOUNDS,015807,2018.0,NaN,NaN,30.263,-97.727
974,001e8570-19c2-4b1f-8e92-f9bb4a6049a7,c97c4f15-95a8-40a2-8ac9-814aa4600923,scooter,1315.0,2300.0,2018-11-11 13:30:00,2018-11-11 13:45:00,12/13/2018 03:39:56 PM,11.0,13.0,0.0,0.0,9.0,OUT_OF_BOUNDS,015023,2018.0,NaN,NaN,30.271,-97.739

#### It turns out that these are the rows for which start locations or end locations are missing. So, these rows will be useless for any spatial analysis. So, it would be a good idea to drop them.

In [17]:
dockless.shape

(2746505, 20)

In [40]:
# Removing all rows where either origin cell id or destination cell id is 'OUT_OF_BOUNDS'
dockless = dockless.loc[(dockless.origin_cell_id!='OUT_OF_BOUNDS') & (dockless.destination_cell_id!='OUT_OF_BOUNDS')]

In [41]:
# Keeeping track of how many rows we dropped
dockless.shape

(2695253, 20)

#### There might still be other null, zero and Nan values in the spatial columns so, those rows also need to be dropped.

In [68]:
dockless.drop(dockless[dockless['start_latitude'].isnull() | dockless['start_latitude']==0 | dockless['start_latitude'].isna()].index,inplace=True)
dockless.drop(dockless[dockless['start_longitude'].isnull() | dockless['start_longitude']==0 | dockless['start_longitude'].isna()].index,inplace=True)
dockless.drop(dockless[dockless['end_latitude'].isnull() | dockless['end_latitude']==0 | dockless['end_latitude'].isna() ].index,inplace=True)
dockless.drop(dockless[dockless['end_longitude'].isnull() | dockless['end_longitude']==0  | dockless['end_longitude'].isna()].index,inplace=True)

In [69]:
# Keeeping track of how many rows we dropped
dockless.shape

(2688724, 20)

In [73]:
dockless.vehicle_type.unique()

array(['scooter', 'bicycle'], dtype=object)

### Dropping bicycles as we are looking to analyse the patterns of scooters

In [75]:
dockless = dockless[dockless.vehicle_type=='scooter']

In [76]:
# Keeeping track of how many rows we dropped
dockless.shape

(2612879, 20)

In [77]:
dockless.to_csv('Dockless_data_Austin.csv',index=False)